*.pyc
*.flac
model/BirdNET_Soundscape_Model.pkl
.vscode
datasets/
birdnet.conf
miniforge
scripts/install_miniforge.sh
IdentifiedSoFar.txt
IdentifiedSoFar.txt.bak
Birders_Guide_Installer_Configuration.txt
