* {
  font-family: 'Arial', 'Gill Sans', 'Gill Sans MT',
  ' Calibri', 'Trebuchet MS', 'sans-serif';
  box-sizing: border-box;
  font-size: large;
}


.banner {
  height: auto;
  text-align: center;
}

.banner h1 {
  /*float: top;*/
  font-size: x-large;
}

.banner audio,.banner form {
  float:right;
  width: 120px;
  margin-left: -120px;
  margin-right: auto;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.banner a {
  text-decoration: none;
  color: black;
  font-size: x-large;
}

.topbar {
  display: block;
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.topnav {
  background-color: rgb( 159, 226, 155);
  display: block;
}

.topnav button {
  background-color: transparent;
  display: block;
  text-align: center;
  padding: 14px 16px;
  float:left;
}

.topnav button:hover {
  background-color: #ddd;
  color: black;
}

.topnav button.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.play table {
  margin:0;
  margin-left: auto;
  margin-right: auto;
}

.overview td {
  vertical-align:middle;
  width:20%;
}

.overview table,.stats table,.viewdb table {
  width: 75%;
}

.stats td {
  vertical-align: middle;
}

.history table,.history img {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

h3 {
  text-align: center;
}

iframe {
  border: none;
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(119, 196, 135);
}

table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 10px;
  vertical-align: top;
  background-color: rgb(219, 255, 235);
  font-weight: lighter;
  border: 2px solid black;
  text-align: center;
}

th {
  font-weight: bold;
  height: auto;
  text-align: center;
}

audio, video{
  width: 100%;
}

.spectrogram {
  width:50%
}

.centered {
  text-align: center;
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.full {
  width:100%;
}

button {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
}

button:hover {
  color: blue;
}

.logbutton, .navbuttons {
  float: left;
}

.spectrogrambutton {
  float:top;
}

body::-webkit-scrollbar {
  display:none
}

@media screen and (max-width: 1000px) {
  .topnav button {display: none;}
  /*.topnav button:not(:first-child) {display: none;}*/
  .topnav button.icon {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .overview img {
    width: 100%;
  }
  .banner img {
    width: 60px;
    height: 60px;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive button {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .viewdb table,.overview img {
    width: 100%
  }
  .banner img {
    width: 60px;
    height: 60px;
  }
  .play table,.overview table,.stats table {
    width: 100%;
  }
  .topnav button { 
    font-size: large;
  }
  .topnav button {display: none;}
  .topnav button.icon {
    padding: 0;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .topnav.responsive {position: relative;}
  .topnav.responsive button {
    display: block;
  }
}
