/* style sheet */
* {
  font-family: 'Arial', 'Gill Sans', 'Gill Sans MT',
  ' Calibri', 'Trebuchet MS', 'sans-serif';
  box-sizing: border-box;
}

a {
  text-decoration:none;
}

body {
  background-color: rgb(119, 196, 135);
}

.column {
  display:block;
  width:33%;
  margin-left:auto;
  margin-right:auto;
}

.left {
  float:left;
}

.right {
  float:right;
  width:66%;
}
  
table {
  background-color: rgb(219, 255, 235);
  margin: 0 auto;
  font-size: large;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid black;
}

h1 {
  text-align: center;
  color: black;
  font-size: xx-large;
}

h2 {
  margin-left: -150px;
  text-align: center;
  color: black;
  font-size: large;
}

h3 {
  text-align: center;
  color: black;
  font-size: large;
}

td {
  background-color: rgb(219, 255, 235);
  font-weight: lighter;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

th {
  background-color: rgb(219, 255, 235);
  font-weight: bold;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

button {
  background-color: transparent;
  font-size: large;
  border:none;
  cursor:pointer;
}

@media screen and (max-width: 1000px) {
  h2 {
    margin-left: 0;
    text-align: center;
    color: black;
    font-size: large;
  }

  .column {
    width: 80%;
  }

}
body::-webkit-scrollbar {
  display:none
}
